body{
    padding: 50px;
}
fieldset{
    width: 317px;
    height: 217px;

}
h1{

    text-align: center;
}
table{
    text-align: center;
    width: 316px;
    height: 102px;
}
th{
    background-color: yellow;
}

